@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  /* font-family: 'Quicksand', 'sans-serif' */
}

html {
  scroll-behavior: smooth;
}

svg {
  fill: white;
  stroke: white;
}